* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #191a1b;
}

/** Header styles */

nav ul {
  list-style-type: none;
  display: none; /* Hides the Navigation until we add a toggle for nav-button */
}

nav ul a {
  display: block;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-size: 15px;
  text-decoration: none;
  color: #9dffff;
  /* What is going to be affected - Duration - Type of transition - Delay */
  transition: color 1s ease, background-color 1s ease, padding 1s ease;
}

/* This is what triggers the transition on hover */
nav ul a:hover {
  background-color: #42F4EB;
  background-color: rgba(66,244, 235, 0.5);
  color: black;
  padding: 25px;
}

.nav-container { /* Flex Parent */
  padding: 5px 20px; /* Top/Bottom Left/Right */
  background-color: #474747;
  border-bottom: 3px solid #42F4EB;
  display: flex;
  justify-content: space-between;
}

.nav-container img {
  align-self: center;
}

.nav-btn {
  padding: 2px;
  display: inline-block;
  border: 2px solid #42F4EB;
  align-self: center;
}

.bar {
  width: 30px;
  height: 2px;
  margin: 4px;
  background-color: #42F4EB;
}

header { /* Flex Parent */
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/sub2.PNG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  color: black;
}

nav {
  /* Grow Shrink Basis */
  flex: 0 0 auto;
}

.banner {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner img {
  transition: transform 1.5s ease;
}

.banner img:hover {
   transform: scale(1.05);
}

.banner h1 {
  font-size: 50px;
  color: black;
}

.banner span.poly {
  color: #42F4EB;
  transition: transform 0.5s ease;
}

.banner span.poly:hover {
  display: inline-block;
  transform: scale(1.1);
}

.banner h3 {
  color: black;
}

.banner-icons {
  padding: 20px;
}

.banner-icons a {
  display: inline-block;
  font-size: 25px;
  color: black;
  transition: color 1s ease, transform 0.5s ease;
}

.banner-icons a:hover {
    color: #42F4EB;
    transform: scale(1.2);
}

/* Keep Navigation Fixed on Screen */

nav {
  position: fixed;
  width: 100vw; /* Keep Full Width */
  z-index: 10; /* Keep Above Other Elements */
}
