* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #191a1b;
}

/** Header styles */
/*
  Toggle CSS3 Transitions Solution:
  https://stackoverflow.com/a/3332179/5941661
 */
nav ul {
  list-style-type: none;
  max-height: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

nav ul.toggle {
  max-height: 9999px;
  opacity: 1;
}

nav ul a {
  display: block;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-size: 15px;
  text-decoration: none;
  color: #9dffff;
  /* What is going to be affected - Duration - Type of transition - Delay */
  transition: color 1s ease, background-color 1s ease, padding 1s ease;
}

/* This is what triggers the transition on hover */
nav ul a:hover {
  background-color: #42F4EB;
  background-color: rgba(66,244, 235, 0.5);
  color: black;
  padding: 25px;
}

.nav-container { /* Flex Parent */
  padding: 5px 20px; /* Top/Bottom Left/Right */
  background-color: #474747;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 3px solid #42F4EB;
  display: flex;
  justify-content: space-between;
}

.nav-container img {
  align-self: center;
}

.nav-btn {
  padding: 2px;
  display: inline-block;
  border: 2px solid #42F4EB;
  align-self: center;
}

.bar {
  width: 30px;
  height: 2px;
  margin: 4px;
  background-color: #42F4EB;
}

header { /* Flex Parent */
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/sub2.PNG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

nav {
  /* Grow Shrink Basis */
  flex: 0 0 auto;
}

.banner {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner img {
  transition: transform 1.5s ease;
}

.banner img:hover {
   transform: scale(1.05);
}

.banner h1 {
  font-size: 50px;
  color: black;
}

.banner span.poly {
  color: #42F4EB;
  transition: transform 0.5s ease;
}

.banner span.poly:hover {
  display: inline-block;
  transform: scale(1.1);
}

.banner h3 {
  color: black;
}

.banner-icons {
  padding: 20px;
}

.banner-icons a {
  display: inline-block;
  font-size: 25px;
  color: black;
  transition: color 1s ease, transform 0.5s ease;
}

.banner-icons a:hover {
    color: #42F4EB;
    transform: scale(1.2);
}

/* Keep Navigation Fixed on Screen */

nav {
  position: fixed;
  width: 100vw; /* Keep Full Width */
  z-index: 10; /* Keep Above Other Elements */
}

/** Media Query for the Navigation
  When the screen is at 776px these are the rules...
*/
@media screen and (min-width:776px) {
  .nav-container { /* Refers to Brain icon and Menu Button */
    display: none;
  }

  nav ul {
    display: flex;
    /* Need to max-height and opacity to counter our above transitions */
    max-height: 9999px;
    opacity: 1;
    flex-wrap: wrap; /* When the screen gets smaller they wrap */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-bottom: 3px solid #42F4EB;
  }

  nav ul li {
    padding: 0px 10px;
  }

  nav ul a {
    background: transparent;
    text-transform: uppercase;
  }

  nav ul a:hover {
    background-color: transparent;
    color: white;
    color: rgba(66,244, 235, 0.5);
    padding: 20px; /* Default Padding so no change */
  }
}

/** Services Styles */

.services {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-center {
  display: flex;
  flex-flow: row wrap;
}

.service { /* Box Model Understanding is important here */
  display: flex;
  flex-direction: column;
  color: white;
  padding: 25px;
  margin: 40px;
}

.service-icon {
  align-self: center;
  font-size: 95px;
  transition: transform 0.5s ease;
}

.service-icon:hover {
  transform: scale(1.2);
}

.service-text {
  align-self: center;
}

.service-icon .fa-html5 {
  color: #e34f26;
}

.service-icon .fa-css3-alt {
  color: #167dbe;
}

.service-icon .fa-js {
  color: #f0db4f;
}

.service-icon .fa-npm {
  color: #cb3837;
}

.service-icon .fa-node {
  color: #83cd29;
}

/* Using SVGs - https://css-tricks.com/using-svg/ */
.service-icon img {
  width: 95px;
}
